<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form align = "center" action="\checkforrecord" method="post">


    <p>Age<input name="Age" align="Center" type="text"></p><br>

    <label for="Job">Choose a job:</label>
    <select name="Job" id="Job">
        <option value="blue-collar"> blue-collar</option>
        <option value="management"> management<br>
        <option value="technician"> technician<br>
        <option value="admin"> admin<br>
        <option value="services"> services<br>
        <option value="retired"> retired<br>
        <option value="self-employed"> self-employed<br>
        <option value="entrepreneur"> entrepreneur<br>
        <option value="unemployed"> unemployed<br>
        <option value="housemaid"> housemaid<br>
        <option value="student"> student<br>
        <option value="unknown"> unknown<br>
    </select>

    <p>Marital<br>

        <input type="radio" name="Marital" value="married" checked> Married<br>
        <input type="radio" name="Marital" value="single"> Single<br>
        <input type="radio" name="Marital" value="divorced"> Divorced<br>
    </p>

    <p>Education<br>

        <input type="radio" name="Education" value="primary" checked> Primary<br>
        <input type="radio" name="Education" value="secondary"> Secondary<br>
        <input type="radio" name="Education" value="tertiary"> Tertiary<br>
        <input type="radio" name="Education" value="unknown"> Unknown<br>
    </p>

    <p>Default<br>

        <input type="radio" name="Default" value="yes" checked> Yes<br>
        <input type="radio" name="Default" value="no"> No<br>
    </p>

    <p>Balance<input name="Balance" align="Center" type="text"></p><br>

    <p>Housing<br>

        <input type="radio" name="Housing" value="yes" checked> Yes<br>
        <input type="radio" name="Housing" value="no"> No<br>
    </p>

    <p>Loan<br>

        <input type="radio" name="Loan" value="yes" checked> Yes<br>
        <input type="radio" name="Loan" value="no"> No<br>
    </p>

    <p>Contact<br>

        <input type="radio" name="Contact" value="unknown" checked> Unknown<br>
        <input type="radio" name="Contact" value="cellular"> Cellular<br>
        <input type="radio" name="Contact" value="telephone"> Telephone<br>
    </p>


    <p>Day<input name="Day" align="Center" type="text"></p><br>


    <label for="Month">Choose a Month:</label>
    <select name="Month" id="Month">
        <option value="jan"> January</option>
        <option value="feb"> February<br>
        <option value="mar"> March<br>
        <option value="apr"> April<br>
        <option value="may"> May<br>
        <option value="jun"> June<br>
        <option value="jul"> July<br>
        <option value="aug"> August<br>
        <option value="sep"> September<br>
        <option value="oct"> October<br>
        <option value="nov"> November<br>
        <option value="dec"> December<br>
    </select>


    <p>Duration<input name="Duration" align="Center" type="text"></p><br>
    <p>Campaign<input name="Campaign" align="Center" type="text"></p><br>
    <p>Pdays<input name="Pdays" align="Center" type="text"></p><br>
    <p>Previous<input name="Previous" align="Center" type="text"></p><br>

    <p>Poutcome<br>

        <input type="radio" name="Poutcome" value="unknown" checked> Unknown<br>
        <input type="radio" name="Poutcome" value="success"> Success<br>
        <input type="radio" name="Poutcome" value="failure"> Failure<br>
        <input type="radio" name="Poutcome" value="other"> Other<br>
    </p>


    <input type="submit" align="center" value="send">

</form>


</body>
</html>